body {
  background-color: #FAFAFA;
}

#quote-box {
  margin: 10% 5% 00% 5%;
  padding: 5% 2% 5% 2%;
  background-color: #FB6A74;
}

#quote-text {
  colour: white;
}

#buttons-box{
  margin-top: 35px;
}
